.list__item {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.list__item.hasChilds + .list__item:not(.hasChilds) {
    border-top: 1px solid var(--grayLight);
    margin-top: 8px;
    padding-top: 16px;
}

.list__item:hover, .list__item.active {
    background-color: var(--accentWeak);
}

.list__item:hover .list__icon, .list__item.active .list__icon {
    color: var(--accentDark)
}

.list__icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    color: var(--gray);
}

.list__name {
    display: flex;
    grid-gap: 8px;
    align-items: flex-start;
}

.list__name input {
    margin-top: 2px;
}

.list__group {
    border-bottom: 1px solid var(--grayLight);
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 14px;
    color: var(--accentDark);
}
